<template>
  <NuxtLayout>
    <div>
      <h1>{{ error.statusCode }}
        <span v-if="error.statusMessage">: {{ error.statusMessage }}</span>
      </h1>
      <h2 v-if="error.message">
        <span>Message: {{ error.message }}</span>
      </h2>
      <button @click="handleError">Continue and Reset</button>
    </div>
  </NuxtLayout>
</template>

<script>

export default defineComponent({
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  methods: {
    handleError() {
      clearError({ redirect: '/' })
    }
  },
  async mounted() {
    console.log(this.error)
    if (this.error.statusCode === 401 && this.$userStore.token) {
      console.log("session expired; automatically logging back in")
      await useNuxtApp().$userStore.$reset()
      // NB: We cannot have a redirect here back to the same page that
      // faulted; that will double-fault on 401 .
      // https://next-auth.js.org/getting-started/client#signout
      await useNuxtApp().$auth.logout({ redirect: false })
      //useNuxtApp().$auth.loginWith(useNuxtApp().$auth.$storage.getUniversal('strategy'))
      clearError({ redirect: '/' })
    }
  },
})
</script>
