<template>
  <div class="mx-4">
    <template v-if=observation>
      <Observation
	  :observation="observation"
      ></Observation>
    </template>
  </div>
</template>

<script>
import Observation from '~/components/Observation.vue'
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { adminStore } from '~/stores/admin'

export default defineComponent({
  data() {
    return {
    }
  },
  async mounted() {
    if (!this.is_admin) {
      navigateTo('/')
      return
    }
    this.$userStore.fetchUser()
    this.update({
    })
  },
  computed: {
    ...mapState(clientStore, {
      is_admin: (state) => state.is_admin,
    }),
    ...mapState(adminStore, {
      observation: (state) => state.observation.observation,
    }),
  },
  methods: {
    update() {
      if (!this.is_admin) {
        navigateTo('/')
      }
      console.log(this.$route.query)
      var payload = {
	"data_inline" : 1
      }
      this.$adminStore.fetchObservation(this.$route.query.id, payload)
    }
  },
  watch: {
    is_admin() {
      // had to make this because on refresh, is_admin doesn't update until after the mounted has already run,
      // but mounted needs to run when switching pages where the is_admin doesn't update
      console.log('watch update')
      this.update()
    },
    observation() {
    }
  }
})
</script>

<style lang="scss">
@use './assets/settings.scss';
</style>
