<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Antennas
      </v-card-title>
      <v-spacer/>
      <v-row justify="end" class="mx-5">
        <v-col cols="4">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="antenna"
            clearable
            density="compact"
            variant="outlined"
            hint="Search antenna name, description, vendor, model"
            placeholder="Name, description, vendor, model"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="4">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="type"
            clearable
            density="compact"
            variant="outlined"
            hint="Search antenna type"
            placeholder="Type"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="deleted.checked"
            :indeterminate="deleted.indeterminate"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="1">
          <v-btn
            @click="notifyRefresh()"
            size="x-small"
            icon="mdi-refresh"
            variant="outlined"
            class="mt-1"
          />
        </v-col>
      </v-row>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
        >
          <template v-slot:item.name="{ item: { raw: item } }">
            <v-tooltip location="bottom">
              <template v-slot:activator>
                <a
                  v-if="item.id"
                  color="gray"
                  :href="`/antennas/${item.id}`"
                  nuxt target="_blank" rel="noopener"
                >
                  <v-icon>mdi-antenna</v-icon>
                </a>
                {{ item.name }}
              </template>
              <span>View Antenna</span>
            </v-tooltip>
          </template>
          <template v-slot:item.element_id="{ item: { raw: item } }">
            {{ getElementNameById(item.element_id) }}
          </template>
          <template v-slot:item.enabled="{ item: { raw: item } }">
            <v-icon
              v-if="item.enabled"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.ports="{ item: { raw: item } }">
            <span
              v-if="item.ports !== undefined"
            >
              {{ item.ports.length }}
            </span>
          </template>
          <template v-slot:item.created_at="{ item: { raw: item } }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item: { raw: item } }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item: { raw: item } }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
  name: 'AntennaList',
  props: {
    items: {
      type: Array,
      required: true
    },
    page: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    itemsPerPage: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      antenna: '',
      type: '',
      deleted: {
        checked: null,
        indeterminate: true
      },
      headers: [
        { title: 'Name', key: 'name', align: 'start', sortable: true },
        { title: 'Element', key: 'element_id', sortable: true },
        { title: 'Description', key: 'description' },
        { title: 'Type', key: 'type', sortable: true },
        { title: 'Vendor', key: 'vendor', sortable: true },
        { title: 'Model', key: 'model', sortable: true },
        { title: 'URL', key: 'url' },
        { title: 'Gain', key: 'gain', sortable: true },
        { title: 'Beam Width', key: 'beam_width', sortable: true },
        { title: 'Gain Profile Format', key: 'gain_profile_format', sortable: true },
        { title: 'Gain Profile URL', key: 'gain_profile_url', sortable: true },
        { title: 'Created', key: 'created_at', sortable: true },
        { title: 'Updated', key: 'updated_at', sortable: true },
        { title: 'Deleted', key: 'deleted_at', sortable: true }
      ],
      options: {
        itemsPerPage: this.itemsPerPage,
        page: this.page,
        sortBy: [{
          key: 'updated_at',
          order: 'asc'
        }]
      }
    }
  },
  async mounted() {
  },
  computed: {
  },
  methods: {
    getElementNameById(id) {
      if (this.$userStore.is_admin)
        return this.$adminStore.getElementNameById(id)
      else
        return this.$userStore.getElementNameById(id)
    },
    notifyRefresh() {
      console.log("sort", this.options.sortBy)
      let event = {
        page: this.options.page,
        itemsPerPage: this.options.itemsPerPage,
      }
      if (this.antenna) event['antenna'] = this.antenna
      if (this.type) event['type'] = this.type
      if (this.deleted.checked !== null) {
        event['deleted'] = this.deleted.checked
      }
      if (this.options.sortBy[0] !== undefined
          && this.options.sortBy[0].key) {
        event['sort'] = this.options.sortBy[0].key
        if (this.options.sortBy[0].order === 'asc')
          event['sort_asc'] = true
      }
      this.$emit('needsUpdate', event)
    }
  },
  watch: {
    options: {
      handler() {
        console.log("options changed")
        this.notifyRefresh()
      },
      deep: true
    }
  }
});
</script>
