<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Monitors
      </v-card-title>
      <v-spacer/>
      <v-row justify="end" class="mx-5">
        <v-col cols="3">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="monitor"
            clearable
            density="compact"
            variant="outlined"
            hint="Search monitor name, description"
            placeholder="Name, description"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="types"
            clearable
            density="compact"
            variant="outlined"
            hint="Search monitor types"
            placeholder="Types"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="formats"
            clearable
            density="compact"
            variant="outlined"
            hint="Search monitor formats"
            placeholder="Formats"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="1">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="enabled.checked"
            :indeterminate="enabled.indeterminate"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Enabled
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="1">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="exclusive.checked"
            :indeterminate="exclusive.indeterminate"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Exclusive
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="2">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="deleted.checked"
            :indeterminate="deleted.indeterminate"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="1">
          <v-btn
            @click="notifyRefresh()"
            size="x-small"
            icon="mdi-refresh"
            variant="outlined"
            class="mt-1"
          />
        </v-col>
      </v-row>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
        >
          <template v-slot:item.name="{ item: { raw: item } }">
            <v-tooltip location="bottom">
              <template v-slot:activator>
                <a
                  v-if="item.id"
                  color="gray"
                  :href="`/monitors/${item.id}`"
                  nuxt target="_blank" rel="noopener"
                >
                  <v-icon>mdi-signal</v-icon>
                </a>
                {{ item.name }}
              </template>
              <span>View Monitor</span>
            </v-tooltip>
          </template>
          <template v-slot:item.enabled="{ item: { raw: item } }">
            <v-icon
              v-if="item.enabled"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.exclusive="{ item: { raw: item } }">
            <v-icon
              v-if="item.exclusive"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.types="{ item: { raw: item } }">
            <v-chip
              v-if="item.types !== undefined && item.types.split(',').length > 0"
              v-for="mt in item.types.split(',')"
              size="small"
            >
              {{ mt }}
            </v-chip>
          </template>
          <template v-slot:item.formats="{ item: { raw: item } }">
            <v-chip
              v-if="item.formats !== undefined && item.formats.split(',').length > 0"
              v-for="mf in item.formats.split(',')"
              size="small"
            >
              {{ mf }}
            </v-chip>
          </template>
          <template v-slot:item.created_at="{ item: { raw: item } }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item: { raw: item } }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item: { raw: item } }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
  name: 'MonitorList',
  props: {
    items: {
      type: Array,
      required: true
    },
    page: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    itemsPerPage: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      monitor: '',
      types: '',
      formats: '',
      deleted: {
        checked: null,
        indeterminate: true
      },
      enabled: {
        checked: null,
        indeterminate: true
      },
      exclusive: {
        checked: null,
        indeterminate: true
      },
      headers: [
        { title: 'Name', key: 'name', align: 'start', sortable: true },
        { title: 'Description', key: 'description' },
        { title: 'Types', key: 'types', sortable: true },
        { title: 'Formats', key: 'formats', sortable: true },
        { title: 'Enabled', key: 'enabled', sortable: true },
        { title: 'Exclusive', key: 'exclusive', sortable: true },
        { title: 'Created', key: 'created_at', sortable: true },
        { title: 'Updated', key: 'updated_at', sortable: true },
        { title: 'Deleted', key: 'deleted_at', sortable: true }
      ],
      options: {
        itemsPerPage: this.itemsPerPage,
        page: this.page,
        sortBy: [{
          key: 'updated_at',
          order: 'asc'
        }]
      }
    }
  },
  async mounted() {
  },
  computed: {
  },
  methods: {
    getElementNameById(id) {
      if (this.$userStore.is_admin)
        return this.$adminStore.getElementNameById(id)
      else
        return this.$userStore.getElementNameById(id)
    },
    notifyRefresh() {
      console.log("sort", this.options.sortBy)
      let event = {
        page: this.options.page,
        itemsPerPage: this.options.itemsPerPage,
      }
      if (this.monitor) event['monitor'] = this.monitor
      if (this.types) event['types'] = this.types
      if (this.formats) event['formats'] = this.formats
      if (this.deleted.checked !== null) {
        event['deleted'] = this.deleted.checked
      }
      if (this.enabled.checked !== null) {
        event['enabled'] = this.enabled.checked
      }
      if (this.exclusive.checked !== null) {
        event['exclusive'] = this.exclusive.checked
      }
      if (this.options.sortBy[0] !== undefined
          && this.options.sortBy[0].key) {
        event['sort'] = this.options.sortBy[0].key
        if (this.options.sortBy[0].order === 'asc')
          event['sort_asc'] = true
      }
      this.$emit('needsUpdate', event)
    }
  },
  watch: {
    options: {
      handler() {
        console.log("options changed")
        this.notifyRefresh()
      },
      deep: true
    }
  }
});
</script>
