<template v-if=observation>
  <v-card density="compact">
      <v-card-title>
        Observation Details
      </v-card-title>
    <v-container>
      <v-row>
	<v-col cols="6" offset="3" lg="10" offset-lg="1">
	  <v-table density="compact">
	    <tbody>
	      <tr>
		<td>Description:</td>
		<td class="border-right">{{ observation.description }}</td>
		<td>Frequencies:</td>
		<td>{{ observation.min_freq/1e6 + "-" + observation.max_freq/1e6 }}</td>
	      </tr>
	      <tr>
		<td>Starts:</td>
		<td class="border-right">
		  {{ observation.starts_at ?
		  $moment(observation.starts_at).format("lll") : '' }}
		</td>
		<td>Created:</td>
		<td>
		  {{ observation.created_at ?
		  $moment(observation.created_at).format("lll") : '' }}
		</td>
	      </tr>
	      <tr>
		<td>Violation:</td>
		<td class="border-right">
		  {{ observation.violation ? "Yes" : "No" }}
		</td>
		<td>Violated Grant:</td>
		<td>
		  {{ observation.violation_grant_id ? "Yes" : "No" }}
		</td>
	      </tr>
	    </tbody>
	  </v-table>
	</v-col>
      </v-row>
    </v-container>
  </v-card>
  <div v-if="observation.data == ''" class="mt-8">
    <v-alert class="d-flex justify-center"
	     text="There is no data associated with this observation">
    </v-alert>
  </div>
  <div class="frequency-graph frequency-graph-maingraph">
    <v-container>
      <v-row>
	<v-col cols="12">
          <div style="height: 600px; position: relative; top: 0px; left: 0px;"
	       class='svg-container'></div>
	</v-col>
      </v-row>	 
    </v-container>
    <div class="popover-container"
	 style="position: absolute; top: 0px; left:0px; width: 200px;
		display:none;">
      <v-table density="compact" class="popover-content">
	<tbody>
	  <tr>
	    <td>Frequency:</td>
	    <td>{{ mainToolTip.frequency }}</td>
	  </tr>
	  <tr>
	    <td>Avg Power::</td>
	    <td>{{ mainToolTip.average }}</td>
	  </tr>
	  <tr>
	    <td>Max Power:</td>
	    <td>{{ mainToolTip.max }}</td>
	  </tr>
	  <tr>
	    <td>Min Power:</td>
	    <td>{{ mainToolTip.min }}</td>
	  </tr>
	</tbody> 
      </v-table>
    </div>
  </div>
  <div class="frequency-graph frequency-graph-subgraph">
    <v-container>
      <v-row>
	<v-col cols="12">
          <div style="height: 600px; position: relative; top: 0px; left: 0px;"
	       class='svg-container'></div>
	</v-col>
      </v-row>	 
    </v-container>
    <div class="popover-container"
	 style="position: absolute; top: 0px; left:0px; width: 250px;
		display:none;">
      <v-table density="compact" class="popover-content">
	<tbody>
	  <tr>
	    <td>Frequency:</td>
	    <td>{{ subToolTip.frequency }}</td>
	  </tr>
	  <tr>
	    <td>Power::</td>
	    <td>{{ subToolTip.power }}</td>
	  </tr>
	  <tr>
	    <td>Above Floor:</td>
	    <td>{{ subToolTip.abovefloor }}</td>
	  </tr>
	  <tr>
	    <td>Violation:</td>
	    <td>{{ subToolTip.violation }}</td>
	  </tr>
	</tbody> 
      </v-table>
    </div>
  </div>
</template>

<style>
 .frequency-graph .line {
     fill: none;
     stroke: steelblue;
     stroke-width: 1.5px;
 }
 .frequency-graph .zoom {
     cursor: move;
     fill: none;
     pointer-events: all;
 }
 .frequency-graph .popover-content, .popover-content {
   margin: 0px;
   padding: 0px;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 .popover-content table > thead > tr > th,
 .popover-content table > tbody > tr > th,
 .popover-content table > thead > tr > td,
 .popover-content table > tbody > tr > td {
   padding: 1px;
   border: none !important;
   font-size: 14px;
   height: 16px !important;
 }
 td.border-right {
  border-right: 1px solid blue;
  color: black
 }
</style>

<script>
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'
import { ref } from "vue";
import {useFloating} from '@floating-ui/vue'
import createFrequencyGraph from '~/components/FrequencyGraph'

export default defineComponent({
  name: 'Observation',
  props: {
    observation: {
      type: Object,
      required: true
    },
  },
  data() {
    return {
      mainToolTip  : {
	frequency  : 0,
	average    : 1,
	max        : 2,
	min        : 3
      },
      subToolTip  : {
	frequency  : 0,
	power      : 0,
	abovefloor : 0,
	violation  : 0
      }
    }
  },
  mounted() {
    if (this.observation.data != "") {
      createFrequencyGraph(this);
    }
  },
  updated() {
  },
  computed: {
  },
  methods: {
  }
});
</script>
