<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Observations
      </v-card-title>
      <v-spacer/>
      <v-row justify="end" class="mx-5">
        <v-col cols="3">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="observation"
            clearable
            density="compact"
            variant="outlined"
            hint="Search observation description"
            placeholder="Description"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="types"
            clearable
            density="compact"
            variant="outlined"
            hint="Search observation types"
            placeholder="Types"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="format"
            clearable
            density="compact"
            variant="outlined"
            hint="Search observation format"
            placeholder="Format"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="freq"
            clearable
            density="compact"
            variant="outlined"
            hint="Search frequency"
            placeholder="Frequency"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="2">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="violation.checked"
            :indeterminate="violation.indeterminate"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Violation
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="1">
          <v-btn
            @click="notifyRefresh()"
            size="x-small"
            icon="mdi-refresh"
            variant="outlined"
            class="mt-1"
          />
        </v-col>
      </v-row>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
        >
          <template v-slot:item.id="{ item: { raw: item } }">
            <v-tooltip location="bottom">
              <template v-slot:activator>
                <a
                  v-if="item.id"
                  color="gray"
                  :href="`/admin/observation?id=${item.id}`"
                  nuxt target="_blank" rel="noopener"
                >
                  <v-icon>mdi-clock-outline</v-icon>
                </a>
                {{ item.name }}
              </template>
              <span>View Observation</span>
            </v-tooltip>
          </template>
          <template v-slot:item.monitor_id="{ item: { raw: item } }">
            <v-tooltip location="bottom">
              <template v-slot:activator>
                <a
                  v-if="item.id"
                  color="gray"
                  :href="`/monitors/${item.id}`"
                  nuxt target="_blank" rel="noopener"
                >
                  <v-icon>mdi-signal</v-icon>
                </a>
                {{ item.name }}
              </template>
              <span>View Monitor</span>
            </v-tooltip>
          </template>
          <template v-slot:item.violation="{ item: { raw: item } }">
            <v-icon
              v-if="item.violation"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.element_id="{ item: { raw: item } }">
            {{ getElementNameById(item.element_id) }}
          </template>
          <template v-slot:item.min_freq="{ item: { raw: item } }">
            <v-chip
              v-if="item.max_freq !== undefined"
              size="small"
            >
              {{ item.min_freq/1e6 + "-" + item.max_freq/1e6 }}
            </v-chip>
            <v-chip
              v-else
              size="small"
            >
              {{ item.min_freq/1e6 }}
            </v-chip>
          </template>
          <template v-slot:item.types="{ item: { raw: item } }">
            <v-chip
              v-if="item.types !== undefined && item.types.split(',').length > 0"
              v-for="mt in item.types.split(',')"
              size="small"
            >
              {{ mt }}
            </v-chip>
          </template>
          <template v-slot:item.format="{ item: { raw: item } }">
            <v-chip
              v-if="item.format !== undefined && item.format.split(',').length > 0"
              v-for="mf in item.format.split(',')"
              size="small"
            >
              {{ mf }}
            </v-chip>
          </template>
          <template v-slot:item.starts_at="{ item: { raw: item } }">
            {{ item.starts_at ? $moment.utc(item.starts_at).fromNow() : '' }}
          </template>
          <template v-slot:item.ends_at="{ item: { raw: item } }">
            {{ item.ends_at ? $moment.utc(item.ends_at).fromNow() : '' }}
          </template>
          <template v-slot:item.created_at="{ item: { raw: item } }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item: { raw: item } }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
  name: 'ObservationList',
  props: {
    items: {
      type: Array,
      required: true
    },
    page: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    itemsPerPage: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      observation: '',
      types: '',
      format: '',
      freq: '',
      violation: {
        checked: null,
        indeterminate: true
      },
      headers: [
        { title: 'Observation', key: 'id', align: 'start' },
        { title: 'Monitor', key: 'monitor_id', sortable: true },
        { title: 'Description', key: 'description' },
        { title: 'Types', key: 'types', sortable: true },
        { title: 'Format', key: 'format', sortable: true },
        { title: 'Freq', key: 'min_freq', sortable: true },
        { title: 'Starts', key: 'starts_at', sortable: true },
        { title: 'Ends', key: 'ends_at', sortable: true },
        { title: 'Violation', key: 'violation', sortable: true },
        { title: 'Violated Grant', key: 'violation_grant_id' },
        { title: 'Created', key: 'created_at', sortable: true },
        { title: 'Updated', key: 'updated_at', sortable: true },
      ],
      options: {
        itemsPerPage: this.itemsPerPage,
        page: this.page,
        sortBy: [{
          key: 'updated_at',
          order: 'asc'
        }]
      }
    }
  },
  async mounted() {
  },
  computed: {
  },
  methods: {
    getElementNameById(id) {
      if (this.$userStore.is_admin)
        return this.$adminStore.getElementNameById(id)
      else
        return this.$userStore.getElementNameById(id)
    },
    getSpectrumNameById(id) {
      if (this.$userStore.is_admin)
        return this.$adminStore.getSpectrumNameById(id)
      else
        return id
    },
    notifyRefresh() {
      console.log("sort", this.options.sortBy)
      let event = {
        page: this.options.page,
        itemsPerPage: this.options.itemsPerPage,
      }
      if (this.observation) event['observation'] = this.observation
      if (this.types) event['types'] = this.types
      if (this.format) event['format'] = this.format
      if (this.freq) event['freq'] = this.freq
      if (this.violation.checked !== null) {
        event['violation'] = this.violation.checked
      }
      if (this.options.sortBy[0] !== undefined
          && this.options.sortBy[0].key) {
        event['sort'] = this.options.sortBy[0].key
        if (this.options.sortBy[0].order === 'asc')
          event['sort_asc'] = true
      }
      this.$emit('needsUpdate', event)
    }
  },
  watch: {
    options: {
      handler() {
        console.log("options changed")
        this.notifyRefresh()
      },
      deep: true
    }
  }
});
</script>
