<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Services
      </v-card-title>
      <v-spacer/>
      <v-row justify="end" class="mx-5">
        <v-col cols="2">
          <v-btn
            @click="notifyRefresh()"
            size="x-small"
            icon="mdi-refresh"
            variant="outlined"
            class="mt-1"
          />
        </v-col>
      </v-row>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
        >
          <template v-slot:item.enabled="{ item: { raw: item } }">
            <v-icon
              v-if="item.enabled"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.created_at="{ item: { raw: item } }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item: { raw: item } }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
  name: 'ServiceList',
  props: {
    items: {
      type: Array,
      required: true
    },
    page: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    itemsPerPage: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      headers: [
        { title: 'Name', key: 'name', align: 'start', sortable: true },
        { title: 'Kind', key: 'kind', sortable: true },
        { title: 'Description', key: 'description' },
        { title: 'Version', key: 'version' },
        { title: 'API Version', key: 'api_version' },
        { title: 'Enabled', key: 'enabled', sortable: true },
        { title: 'Southbound', key: 'endpoint' },
        { title: 'Northbound', key: 'endpoint_api_uri' },
        { title: 'Created', key: 'created_at', sortable: true },
        { title: 'Updated', key: 'updated_at', sortable: true }
      ],
      options: {
        itemsPerPage: this.itemsPerPage,
        page: this.page,
        sortBy: [{
          key: 'updated_at',
          order: 'asc'
        }]
      }
    }
  },
  async mounted() {
  },
  computed: {
  },
  methods: {
    notifyRefresh() {
      console.log("sort", this.options.sortBy)
      let event = {
        page: this.options.page,
        itemsPerPage: this.options.itemsPerPage,
      }
      if (this.options.sortBy[0] !== undefined
          && this.options.sortBy[0].key) {
        event['sort'] = this.options.sortBy[0].key
        if (this.options.sortBy[0].order === 'asc')
          event['sort_asc'] = true
      }
      this.$emit('needsUpdate', event)
    }
  },
  watch: {
    options: {
      handler() {
        this.notifyRefresh()
      },
      deep: true
    }
  }
});
</script>
