<template>
  <v-card>
    <div class="d-flex justify-space-between">
      <v-card-title>
        Spectrum
      </v-card-title>
      <v-spacer/>
      <v-row justify="end" class="mx-5">
        <v-col cols="3">
          <v-text-field
            style="font-size: 0.75rem"
            v-model="spectrum"
            clearable
            density="compact"
            variant="outlined"
            hint="Search spectrum name, description"
            placeholder="Name, description"
            single-line
            hide-details
            @change="notifyRefresh()"
            @click:clear="notifyRefresh()"
          ></v-text-field>
        </v-col>
        <v-col cols="1">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="enabled.checked"
            :indeterminate="enabled.indeterminate"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Enabled
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="1">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="current.checked"
            :indeterminate="current.indeterminate"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Current
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="1">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="approved.checked"
            :indeterminate="approved.indeterminate"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Approved
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="1">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="denied.checked"
            :indeterminate="denied.indeterminate"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Denied
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="2">
          <v-checkbox
            style="font-size: 0.75rem"
            v-model="deleted.checked"
            :indeterminate="deleted.indeterminate"
            @update:model-value="notifyRefresh()"
            density="compact"
          >
            <template v-slot:label>
              <span style="font-size: 0.67rem">
                Deleted
              </span>
            </template>
          </v-checkbox>
        </v-col>
        <v-col cols="1">
          <v-btn
            @click="notifyRefresh()"
            size="x-small"
            icon="mdi-refresh"
            variant="outlined"
            class="mt-1"
          />
        </v-col>
      </v-row>
    </div>
    <v-card-text style="font-size: 0.85rem">
    <v-row justify="start" align="start">
      <v-col cols="12">
        <v-data-table-server
          v-model:options="options"
          :headers="headers"
          :items="items"
          :footer-props="{ 'items-per-page-options': [10, 20, 50, 100, -1] }"
          :items-length="total"
          :items-per-page="itemsPerPage"
          dense
        >
          <template v-slot:item.name="{ item: { raw: item } }">
            <v-tooltip location="bottom">
              <template v-slot:activator>
                <a
                  v-if="item.id"
                  color="gray"
                  :href="`/spectrum/${item.id}`"
                  nuxt target="_blank" rel="noopener"
                >
                  <v-icon>mdi-broadcast</v-icon>
                </a>
                {{ item.name }}
              </template>
              <span>View User</span>
            </v-tooltip>
          </template>
          <template v-slot:item.element_id="{ item: { raw: item } }">
            {{ getElementNameById(item.element_id) }}
          </template>
          <template v-slot:item.enabled="{ item: { raw: item } }">
            <v-icon
              v-if="item.enabled"
              size="small"
            >mdi-check</v-icon>
          </template>
          <template v-slot:item.constraints="{ item: { raw: item } }">
            <v-chip
              v-if="item.constraints !== undefined && item.constraints.length"
              v-for="constraint in item.constraints"
            >
              {{ constraint.constraint.min_freq/1e6 + "-" + constraint.constraint.max_freq/1e6 }}
            </v-chip>
            <v-chip
              v-if="item.constraints !== undefined && item.constraints.length"
              v-for="constraint in item.constraints"
            >
              {{ constraint.constraint.max_eirp + "dBm" }}
            </v-chip>
            <v-chip
              v-if="item.constraints !== undefined && item.constraints.length"
              v-for="constraint in item.constraints"
            >
              {{ constraint.constraint.exclusive ? "exclusive" : "" }}
            </v-chip>
          </template>
          <template v-slot:item.policies="{ item: { raw: item } }">
            <v-chip
              v-if="item.policies !== undefined && item.policies.length"
              v-for="policy in item.policies"
            >
              {{ ((policy.element_id === null) ? "*" : getElementNameById(policy.element_id)) + ":" + (policy.allowed ? "allow" : "deny") }}
            </v-chip>
          </template>
          <template v-slot:item.starts_at="{ item: { raw: item } }">
            {{ item.starts_at ? $moment.utc(item.starts_at).fromNow() : '' }}
          </template>
          <template v-slot:item.expires_at="{ item: { raw: item } }">
            {{ item.expires_at ? $moment.utc(item.expires_at).fromNow() : '' }}
          </template>
          <template v-slot:item.created_at="{ item: { raw: item } }">
            {{ item.created_at ? $moment.utc(item.created_at).fromNow() : '' }}
          </template>
          <template v-slot:item.updated_at="{ item: { raw: item } }">
            {{ item.updated_at ? $moment.utc(item.updated_at).fromNow() : '' }}
          </template>
          <template v-slot:item.deleted_at="{ item: { raw: item } }">
            {{ item.deleted_at ? $moment.utc(item.deleted_at).fromNow() : '' }}
          </template>
        </v-data-table-server>
      </v-col>
    </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { userStore } from '~/stores/user'
import { adminStore } from '~/stores/admin'

export default defineComponent({
  name: 'SpectrumList',
  props: {
    items: {
      type: Array,
      required: true
    },
    page: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    itemsPerPage: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      user: '',
      role: '',
      enabled: {
        checked: null,
        indeterminate: true
      },
      approved: {
        checked: null,
        indeterminate: true
      },
      denied: {
        checked: null,
        indeterminate: true
      },
      deleted: {
        checked: null,
        indeterminate: true
      },
      current: {
        checked: null,
        indeterminate: true
      },
      headers: [
        { title: 'Name', key: 'name', align: 'start', sortable: true },
        { title: 'Element', key: 'element_id', sortable: true },
        { title: 'Description', key: 'description' },
        { title: 'URL', key: 'url', align: 'start' },
        { title: 'Enabled', key: 'enabled', sortable: true },
        { title: 'Constraints', key: 'constraints', sortable: true },
        { title: 'Policies', key: 'policies', sortable: true },
        { title: 'Starts', key: 'starts_at', sortable: true },
        { title: 'Expires', key: 'expires_at', sortable: true },
        { title: 'Created', key: 'created_at', sortable: true },
        { title: 'Updated', key: 'updated_at', sortable: true },
        { title: 'Denied', key: 'denied_at', sortable: true },
        { title: 'Deleted', key: 'deleted_at', sortable: true }
      ],
      options: {
        itemsPerPage: this.itemsPerPage,
        page: this.page,
        sortBy: [{
          key: 'updated_at',
          order: 'asc'
        }]
      }
    }
  },
  async mounted() {
  },
  computed: {
  },
  methods: {
    getElementNameById(id) {
      if (this.$userStore.is_admin)
        return this.$adminStore.getElementNameById(id)
      else
        return this.$userStore.getElementNameById(id)
    },
    notifyRefresh() {
      console.log("sort", this.options.sortBy)
      let event = {
        page: this.options.page,
        itemsPerPage: this.options.itemsPerPage,
      }
      if (this.spectrum) event['spectrum'] = this.spectrum
      if (this.enabled.checked !== null) {
        event['enabled'] = this.enabled.checked
      }
      if (this.approved.checked !== null) {
        event['approved'] = this.approved.checked
      }
      if (this.denied.checked !== null) {
        event['denied'] = this.denied.checked
      }
      if (this.deleted.checked !== null) {
        event['deleted'] = this.deleted.checked
      }
      if (this.current.checked !== null) {
        event['current'] = this.current.checked
      }
      if (this.options.sortBy[0] !== undefined
          && this.options.sortBy[0].key) {
        event['sort'] = this.options.sortBy[0].key
        if (this.options.sortBy[0].order === 'asc')
          event['sort_asc'] = true
      }
      this.$emit('needsUpdate', event)
    }
  },
  watch: {
    options: {
      handler() {
        console.log("options changed")
        this.notifyRefresh()
      },
      deep: true
    }
  }
});
</script>
