<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :order="order"
      :rail="drawerMin"
      permanent
      position="fixed"
      class="bg-secondary-lighten-5"
    >
      <v-list :items="navItems"></v-list>
    </v-navigation-drawer>

    <v-app-bar
      elevation="1"
      class="bg-primary-lighten-3"
    >
      <v-btn icon @click="() => { drawerMin = !drawerMin }">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
      <v-app-bar-title>
        {{ title }}&nbsp;&nbsp;
        <v-divider vertical></v-divider>
        <v-menu
          v-if="isLoggedIn && contextElementList.length > 0"
          location="bottom"
          aria-label="Choose Element"
        >
          <template v-slot:activator="{ props }">
            <v-btn
              id="elementButton"
              class="bg-primary text-none"
              v-bind="props"
              append-icon="mdi-menu-down"
              :text="contextCurrentElementName"
              prepend-icon="mdi-account-group"
            ></v-btn>
          </template>
          <v-list
            density="compact"
            :items="contextElementList"
            item-title="name"
            item-value="id"
            @click:select="setCurrentElement($event)"
          >
          </v-list>
        </v-menu>
      </v-app-bar-title>
      <v-spacer />
      <v-btn
        v-if="isLoggedIn && user_can_admin && !user_is_admin"
        icon
        @click="() => setAdmin(true)"
      >
        <v-icon size="small" style="color: green">mdi-alpha-a-circle</v-icon>
      </v-btn>
      <v-btn
        v-else-if="isLoggedIn && user_can_admin && user_is_admin"
        icon
        @click="() => setAdmin(false)"
      >
        <v-icon size="small" style="color: red">mdi-alpha-a-circle</v-icon>
      </v-btn>
      <v-menu
        v-if="isLoggedIn"
        location="bottom"
      >
        <template v-slot:activator="{ props }">
          <v-btn
            class="bg-primary text-none"
            v-bind="props"
            append-icon="mdi-menu-down"
          >
            <v-icon size="small" >mdi-account</v-icon>&nbsp;
            {{ user.name }}
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            key="account"
            title="Manage Account"
            to="/account"
            value="account"
            append-icon="mdi-account"
          ></v-list-item>
          <v-list-item
            key="account-elements"
            title="Create/Join Element"
            to="/account/elements"
            value="account-elements"
            append-icon="mdi-antenna"
          ></v-list-item>
          <v-list-item
            key="account-tokens"
            title="API Tokens"
            to="/account/tokens"
            value="account-tokens"
            append-icon="mdi-api"
          ></v-list-item>
          <v-divider></v-divider>
          <v-list-item
            key="logout"
            title="Logout"
            @click="() => logout()"
            append-icon="mdi-logout"
          ></v-list-item>
        </v-list>
      </v-menu>
      <v-menu
        v-if="!isLoggedIn"
        v-model="loginMenu"
        open-on-click
        :close-on-content-click="false"
        location="bottom"
      >
        <template v-slot:activator="{ props }">
          <v-btn
            class="bg-primary"
            v-bind="props"
            @click="() => { if (isLoggedIn) { navigateTo('/dashboard') } }"
          >
            Login&nbsp;<v-icon size="small">mdi-login</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-btn class="bg-primary"  @click="() => { loginMenu = false ; gitHubLogin() }">
              GitHub&nbsp;<v-icon size="small">mdi-github</v-icon>
            </v-btn>
          </v-list-item>
          <v-list-item>
            <v-btn class="bg-primary"  @click="() => { loginMenu = false ; googleLogin() }">
              Google&nbsp;<v-icon size="small">mdi-google</v-icon>
            </v-btn>
          </v-list-item>
          <v-list-item>
            <v-btn class="bg-primary"  @click="() => { loginMenu = false ; cilogonLogin() }">
              CILogon&nbsp;<v-icon size="small">mdi-login</v-icon>
            </v-btn>
          </v-list-item>
          <v-divider></v-divider>
          <v-divider></v-divider>
          <v-list-item>
            <span>Direct Login</span>
            <v-form v-model="directLoginValid" fast-fail @submit.prevent>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="directLoginUsername"
                      :rules="directLoginUsernameRules"
                      label="Username"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="directLoginPassword"
                      :rules="directLoginPasswordRules"
                      label="Password"
                      required></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-btn type="submit" block class="mt-2" @click="() => {  if (directLoginValid) { loginMenu = false ;  directLogin() } }">Login</v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-main>
      <slot />
    </v-main>

    <v-footer
      app
      class="bg-primary-lighten-3"
    >
      <span>
        &copy; {{ new Date().getFullYear() }} University of Utah.
        OpenZMS is supported by the National Science Foundation under
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2232463">Award 2232463</a>.
      </span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapState } from 'pinia'
import { userStore } from '~/stores/user'
import { clientStore } from '~/stores/client'
import { adminStore } from '~/stores/admin'

export default defineComponent({
  data() {
    return {
      drawer: true,
      drawerMin: false,
      order: 1,
      title: "OpenZMS",
      loginMenu: false,
      directLoginValid: false,
      directLoginUsername: '',
      directLoginPassword: '',
      directLoginUsernameRules: [
        value => {
          if (value)
            return true;
          return "Username required"
        }
      ],
      directLoginPasswordRules: [
        value => {
          if (value)
            return true;
          return "Password required"
        }
      ]
    }
  },
  computed: {
    ...mapState(userStore, {
      user_id: state => state.user_id,
      user_can_admin: state => state.can_admin,
      //user_is_admin: state => state.is_admin,
      user: state => state.user,
      elements: state => state.elements,
      element_id: state => state.element_id,
      elements_by_id: state => state.elements_by_id,
    }),
    ...mapState(clientStore, {
      user_is_admin: state => state.is_admin,
    }),
    ...mapState(adminStore, {
      all_elements: state => state.all_elements,
      all_elements_by_id: state => state.all_elements_by_id,
    }),
    contextElementList() {
      if (this.user_is_admin) {
        return this.all_elements.elements
      }
      else {
        return this.elements
      }
    },
    contextCurrentElementName() {
      if (this.user_is_admin
          // NB: is_admin could become true before all_elements_by_id
          // becomes live; secondary API
          && this.all_elements_by_id !== undefined
          && this.all_elements_by_id[this.element_id] !== undefined) {
        return this.all_elements_by_id[this.element_id].name
      }
      else if (this.elements_by_id[this.element_id] !== undefined) {
        return this.elements_by_id[this.element_id].name
      }
      else {
        console.log("cname", this.all_elements_by_id[this.element_id], this.elements_by_id[this.element_id])
        return ""
      }
    },
    isLoggedIn() {
      return this.$auth.status.value === 'authenticated' //this.$auth.isLoggedIn
    },
    navItems() {
      let divType = 'subheader'
      let divThickness = 0
      if (this.drawerMin) {
        divType = 'divider'
        divThickness = "4px"
      }

      let aboutItems = [
        { type: divType, title: 'About', props: { thickness: divThickness } },
        {  title: 'Overview', value: 'about-overview', props: { prependIcon:  'mdi-information', to: '/',alt: 'foo',  } },
        {  title: 'Getting Started', value: 'getting-started', props: { prependIcon: 'mdi-help-circle', to: '/docs/getting-started' } },
        {  title: 'Reference', value: 'about-reference', props: { prependIcon: 'mdi-api', to: 'docs/api' } },
      ]
      let zoneItems = [
        { type: divType, title: 'Zone', props: { thickness: divThickness } },
        { title: 'Status', value: 'zone-status', props: { prependIcon: 'mdi-earth', to: '/zone' } },
        { title: 'Monitor', value: 'zone-monitor', props: { prependIcon: 'mdi-signal', to: '/zone/monitor' } },
        { title: 'Report', value: 'zone-report', props: { prependIcon: 'mdi-file-chart', to: '/zone/report' } },
        { title: 'Search', value: 'zone-search', props: { prependIcon: 'mdi-database-search', to: '/zone/search' } },
        { title: 'History', value: 'zone-history', props: { prependIcon: 'mdi-history', to: '/zone/history' } },
      ]
      let elementItems = [
        {  type: divType, title: 'Element', props: { thickness: divThickness } },
        { title: 'Overview', value: 'element-overview', props: { prependIcon: 'mdi-antenna', to: '/element' } },
        { title: 'Grants & Claims', value: 'element-grants', props: { prependIcon: 'mdi-clock-outline', to: '/element/grants' } },
        { title: 'Radios', value: 'element-transmitters', props: { prependIcon: 'mdi-radio-tower', to: '/element/transmitters' } },
        { title: 'Monitors', value: 'element-monitors', props: { prependIcon: 'mdi-signal', to: '/element/monitors' } },
        { title: 'Users', value: 'element-users', props: { prependIcon: 'mdi-account', to: '/element/users' } },
      ]
      let adminItems = [
        {  type: divType, title: 'Admin', props: { thickness: divThickness, variant: 'tonal' } },
        { title: 'Users', value: 'admin-users', props: { prependIcon: 'mdi-account', to: '/admin/users', variant: 'tonal' } },
        { title: 'Elements', value: 'admin-elements', props: { prependIcon: 'mdi-account-group', to: '/admin/elements', variant: 'tonal' } },
        { title: 'Services', value: 'admin-services', props: { prependIcon: 'mdi-wrench-cog', to: '/admin/services', variant: 'tonal' } },
        { title: 'Spectrum', value: 'admin-spectrum', props: { prependIcon: 'mdi-broadcast', to: '/admin/spectrum', variant: 'tonal' } },
        { title: 'Radios', value: 'admin-radios', props: { prependIcon: 'mdi-radio-tower', to: '/admin/radios', variant: 'tonal' } },
        { title: 'Antennas', value: 'admin-antennas', props: { prependIcon: 'mdi-antenna', to: '/admin/antennas', variant: 'tonal' } },
        { title: 'Monitors', value: 'admin-monitors', props: { prependIcon: 'mdi-signal-distance-variant', to: '/admin/monitors', variant: 'tonal' } },
        { title: 'Grants', value: 'admin-grants', props: { prependIcon: 'mdi-clock-outline', to: '/admin/grants', variant: 'tonal' } },
        { title: 'Claims', value: 'admin-claims', props: { prependIcon: 'mdi-clock-outline', to: '/admin/claims', variant: 'tonal' } },
        { title: 'Observations', value: 'admin-observations', props: { prependIcon: 'mdi-database', to: '/admin/observations', variant: 'tonal' } },
      ]
      let menuItems = [].concat(aboutItems, zoneItems)
      if (this.isLoggedIn && this.elements.length > 0)
        menuItems = menuItems.concat(elementItems)
      if (this.user_is_admin)
        menuItems = menuItems.concat(adminItems)
      return menuItems
    }
  },
  methods: {
    async gitHubLogin() {
      let response = await this.$auth.loginWith('github')
    },
    async googleLogin() {
      let response = await this.$auth.loginWith('googlecustom')
    },
    async cilogonLogin() {
      let response = await this.$auth.loginWith('cilogon')
    },
    async directLogin() {
      let response = await this.$auth.loginWith(
        'credentials', { username: this.directLoginUsername, password: this.directLoginPassword })
    },
    async logout() {
      await this.$userStore.logout()
      await this.$clientStore.logout()
      await this.$auth.logout()
      navigateTo('/')
    },
    async setAdmin(mode) {
      console.log('Setting admin mode',  mode)
      this.$clientStore.setAdmin(mode)
      if (mode) {
        this.$adminStore.initAdmin()
      }
      else if (this.$route.path.startsWith("/admin/")) {
        navigateTo('/')
      }
    },
    menuTabHandler(event) {
      let propagate = true
      let menu = event.target.dataset.menu

      menu.getTiles()
      if (menu.isActive) {
        propagate = false
        if (event.shiftKey) {
          if ((menu.listIndex - 1) <=0) {
            menu.lastTile()
          }
          else {
            menu.prevTile()
          }
        }
        else {
          if (menu.listIndex < 0 || (menu.listIndex + 1) >= menu.tiles.length) {
            menu.firstTitle()
          }
          else {
            menu.nextTile()
          }
        }
      }

      if (!propagate) {
        event.preventDefault();
      }
    },
    setCurrentElement(event) {
      console.log("setCurrentElement", event)
      this.$userStore.element_id = event.id
    },
  },
  watch: {
    isLoggedIn(val) {
      if (val === true && this.user_id !== 'undefined' && this.user_id !== null) {
        console.log("watch(isLoggedIn)", val)
        this.$userStore.initUser()
      }
    },
    user_id(val) {
      if (this.user_id !== 'undefined' && this.user_id !== null) {
        console.log("watch(user_id)", this.user_id)
        console.log("user_id", this.user_id)
        this.$userStore.initUser()
      }
    },
  },
  async mounted() {
    if (this.isLoggedIn && this.user_id !== 'undefined' && this.user_id !== null) {
      this.$userStore.initUser()
    }
  },
})
</script>
