<template>
  <v-container class="md-0 pa-0">
    <v-card>
      <v-img
        src="/images/campus-fall.jpg"
        height="200px"
        aspect-ratio="16/9"
        cover
      ></v-img>
      <v-card-title class="bg-primary">
        POWDER Radio Dynamic Zone
      </v-card-title>
      <v-card-text>
        <br />
        <p>
          <a href="https://gitlab.flux.utah.edu/openzms">OpenZMS</a> is a
          prototype automatic spectrum-sharing management system for radio
          dynamic zones.  OpenZMS provides mechanisms to share
          electromagnetic (radio-frequency) spectrum between experimental or
          test systems and existing spectrum users, and between multiple
          experimental systems.  We are building and deploying OpenZMS
          within the context of
          the <a href="https://www.powderwireless.net">POWDER testbed</a> in
          Salt Lake City, Utah, part of the
          NSF-sponsored <a href="https://advancedwireless.org/">Platforms
          for Advanced Wireless Research</a> program, to
          create <a href="https://rdz.powderwireless.net">POWDER-RDZ</a>.
        </p>
        <br>
        <p>
          Spectrum access challenges currently create significant
          constraints on experimentation and testing at wireless
          testbeds. Automatic spectrum sharing that provides safe access to additional
          frequencies beyond those reserved exclusively for
          testing will relax these constraints, and thus increase the
          nation's capacity to conduct wireless research and
          development. Increasing this capacity will help accelerate growth
          and global leadership of the US communications industry,
          strengthen academic research into wireless systems, and benefit
          other spectrum-dependent sectors such as radar, public safety, and
          national defense.
        </p>
        <br>
        <p>
          As a pathfinder for the National Radio Dynamic Zone concept,
          OpenZMS and POWDER-RDZ will help future federal/non-federal spectrum sharing
          arrangements assure that spectrum sharing does not negatively
          impact existing and incumbent spectrum use.  By building and
          operating an end-to-end radio dynamic zone (RDZ), we will validate
          the RDZ concept and functionality by performing spectrum sharing
          experiments and field studies. The project uses the existing
          POWDER mobile and wireless testbed as the physical infrastructure
          of the RDZ. POWDER's existing radios and other equipment supports
          the spectrum sharing experiments and provides part of the RF
          sensing functionality needed by the RDZ.
        </p>
        <br>
        <p>
          POWDER-RDZ implements a modular zone management system (ZMS) to
          manage, control, and monitor all aspects of the RDZ. The project
          plans to conduct experiments on spectrum sharing with users
          outside of POWDER. Experiments potentially include RDZ shared
          access to federal, non-federal, and commercial spectrum, such as
          coarse- and fine-grained spectrum sharing with a commercial mobile
          operator and spectrum sharing with a weather radar.
        </p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<style lang="scss">
@use './assets/settings';
</style>
